<div class="flex-container">
  <mat-card *ngIf="agent" class="flex-item mat-elevation-z8">
    <mat-card-title><h2>Liste des équipements affecter à l'agent <strong>{{agent.nom}}</strong></h2></mat-card-title>
    <mat-card-content>
      <button (click)="affecter()" class="mt-3" color="primary" mat-raised-button>Affecter un Equipement</button>

      <mat-form-field style="float: right">
        <mat-label>Recherche</mat-label>
        <input (keyup)="applyFilter($event)" matInput placeholder="Recherche">
      </mat-form-field>

      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Numéro Equipement Column -->
        <ng-container matColumnDef="numero">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Numéro Equipement</th>
          <td *matCellDef="let data" mat-cell> {{data.numero}} </td>
        </ng-container>

        <!-- Désignation Column -->
        <ng-container matColumnDef="designation">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Désignation</th>
          <td *matCellDef="let data" mat-cell> {{data.designation}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th scope="col" *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let data" mat-cell>
            <button (click)="info(data.numero)" color="primary" mat-raised-button>Info</button>
            <button (click)="modifier(data)" class="action" color="primary" mat-raised-button>Modifier</button>
            <button (click)="desaffecter(data)" class="action" color="primary" mat-raised-button>Enlever Affectation
            </button>
            <button (click)="openDialog(data)" class="action" color="warn" mat-raised-button>Supprimer</button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
