<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <mat-card class="flex-item mat-elevation-z8">
    <mat-card-title><h2 >Modifier l'équipement <b>{{equipement.numero}}</b></h2></mat-card-title>
      <form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
        <mat-card-content>
          <div class="example-container mtb-2 text-center">

            <mat-form-field appearance="outline">
              <mat-label>Numéro</mat-label>
              <input matInput formControlName="numero" placeholder="Numéro de l'équipement">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Désignation</mat-label>
              <input matInput formControlName="designation" placeholder="Désignation de l'équipement">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Fabriquant</mat-label>
              <input matInput formControlName="fabriquant" placeholder="Fabriquant de l'équipement">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Date d'aquisition</mat-label>
              <input matInput [matDatepicker]="datea" formControlName="dateaquisition" placeholder="Date d'aquisition de l'équipement" readonly>
              <mat-datepicker-toggle matSuffix [for]="datea"></mat-datepicker-toggle>
              <mat-datepicker #datea></mat-datepicker>
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Valeur d'aquisition</mat-label>
              <input type="number" min="0" matInput formControlName="valeuraquisition" placeholder="Valeur d'aquisition de l'équipement en DH">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Date mis en Service</mat-label>
              <input matInput [matDatepicker]="dates"  formControlName="dateservice" placeholder="Date mis en Service de l'équipement" readonly>
              <mat-datepicker-toggle matSuffix [for]="dates"></mat-datepicker-toggle>
              <mat-datepicker #dates></mat-datepicker>
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Durée de garantie</mat-label>
              <input matInput formControlName="dureegarantie" placeholder="Durée de garantie de l'équipement en Années">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Poids</mat-label>
              <input type="text" matInput formControlName="poids" placeholder="Poids de l'équipement">
            </mat-form-field>
            <br>

            <mat-form-field appearance="outline">
              <mat-label>Taille</mat-label>
              <input matInput formControlName="taille" placeholder="Taille de l'équipement">
            </mat-form-field>
            <br>

            <button mat-raised-button class="waves-light" type="reset" mdbWavesEffect>Réinitialiser</button>
            <br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid" mdbWavesEffect>Modifier</button>
          </div>
        </mat-card-content>
      </form>
  </mat-card>
</div>
