<div class="flex-container">
  <mat-card class="flex-item mat-elevation-z8">
    <mat-card-title><h2>Liste des Messages</h2></mat-card-title>
    <mat-card-content>
      <mat-button-toggle-group>
        <mat-button-toggle (click)="redirect('')">Tous</mat-button-toggle>
        <mat-button-toggle (click)="redirect('true')">Lu</mat-button-toggle>
        <mat-button-toggle (click)="redirect('false')">Non Lu</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
    <router-outlet></router-outlet>
  </mat-card>
</div>
