<div class="flex-container">
  <mat-card class="flex-item mat-elevation-z8">
    <form (ngSubmit)="submit(myForm)" [formGroup]="myForm">
      <mat-card-content>
        <br>
        <h3 class="mt-2">LOGIN</h3>
        <br>
        <h5 class="mt-3">BIENVENUE ! VEUILLEZ VOUS IDENTIFIER.</h5>
        <br>
        <div class="example-container mtb-2 text-center">

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email address" type="email">
            <mat-error *ngIf="myForm.get('email').invalid">Email est pas valider</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input [type]="hide ? 'password' : 'text'" formControlName="pass" matInput placeholder="Mot de passe">
            <button (click)="hide = !hide" mat-icon-button matSuffix type="button">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <br>
          <button class="waves-light" mat-raised-button mdbWavesEffect type="reset">Vider</button>
          <br>
          <button [disabled]="!myForm.valid" color="primary" mat-raised-button mdbWavesEffect type="submit">Login
          </button>
        </div>
      </mat-card-content>
    </form>
    <div class="row justify-content-center">
    </div>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
