<div class="flex-container">
  <mat-card class="flex-item mat-elevation-z2">
    <mat-card-title>
      <h2>Liste de tous les Problèmes Non Résolu soumis</h2>
    </mat-card-title>
    <mat-card-content>
      <button (click)="ajouter()" class="mt-3" color="primary" mat-raised-button>Soumettre un Problème</button>

      <mat-form-field style="float: right">
        <mat-label>Recherche</mat-label>
        <input (keyup)="applyFilter($event)" matInput placeholder="Recherche">
      </mat-form-field>

      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Titre Column -->
        <ng-container matColumnDef="titre">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Titre</th>
          <td *matCellDef="let data" mat-cell> {{(data.titre.length>10)? (data.titre | slice:0:10)+'..':(data.titre)}}</td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
          <td *matCellDef="let data" mat-cell> {{data.type}} </td>
        </ng-container>

        <!-- Agent Column -->
        <ng-container matColumnDef="agent">
          <th scope="col" *matHeaderCellDef mat-header-cell>Agent</th>
          <td *matCellDef="let data" mat-cell><a *ngIf="data.agent != null" href="/app/agents/info/{{data.agent.numero}}">{{data.agent.nom}}</a><span *ngIf="data.agent == null">Aucun</span></td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="datesoumission">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Date de Soumission</th>
          <td *matCellDef="let data" mat-cell> {{data.datesoumission | date:'dd/MM/y'}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th scope="col" *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let data" mat-cell>
            <button (click)="info(data.idprob)" color="primary" mat-raised-button>Info</button>
            <button (click)="modifier(data)" class="action" color="primary" mat-raised-button>Modifier</button>
            <button (click)="solution(data)" class="action" color="primary" mat-raised-button>Voir Solution</button>
            <button (click)="resolu(data)" *ngIf="!data.resolu" class="action" color="primary" mat-raised-button>
              Résolu
            </button>
            <button (click)="openDialog(data)" class="action" color="warn" mat-raised-button>Supprimer</button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
