<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <mat-card class="flex-item mat-elevation-z8">
    <mat-card-title>
      <h2>Information sur l'utilisateur</h2>
      <h3 *ngIf="user.isdeleted"><b>Utilisateur Supprimer !</b></h3>
    </mat-card-title>
    <form [formGroup]="myForm" *ngIf="myForm">
      <mat-card-content>
        <div class="example-container mtb-2 text-center">

          <mat-form-field appearance="outline">
            <mat-label>Nom et Prénom</mat-label>
            <input type="text" matInput formControlName="nom" placeholder="Nom de l'agent" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Email address" readonly>
            <mat-error *ngIf="myForm.get('email').invalid">Email est pas valider</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input type="tel" matInput formControlName="tel" placeholder="Téléphone de l'agent" readonly>
          </mat-form-field>

          <button mat-raised-button class="waves-light" type="button" (click)="afficher()" mdbWavesEffect>Afficher les Solutions soumises par cet utilisateur</button>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
