<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <mat-card class="flex-item mat-elevation-z8">
    <mat-card-title>
      <h2>Information sur l'utilisateur</h2>
      <h3 *ngIf="user.isdeleted"><strong>Utilisateur Supprimer !</strong></h3>
    </mat-card-title>
    <form *ngIf="myForm" [formGroup]="myForm">
      <mat-card-content>
        <div class="example-container mtb-2 text-center">

          <mat-form-field appearance="outline">
            <mat-label>Nom et Prénom</mat-label>
            <input formControlName="nom" matInput placeholder="Nom de l'utilisateur" readonly type="text">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email address" readonly type="email">
            <mat-error *ngIf="myForm.get('email').invalid">Email est pas valider</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input formControlName="tel" matInput placeholder="Téléphone de l'utilisateur" readonly type="tel">
          </mat-form-field>

          <button (click)="afficher()" class="waves-light" mat-raised-button mdbWavesEffect type="button">Afficher les
            Solutions soumises par cet utilisateur
          </button>

        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
