<div class="flex-container">
  <mat-card class="flex-item mat-elevation-z8">
    <mat-card-title><h2>Liste des Agents</h2></mat-card-title>
    <mat-card-content>
      <button (click)="ajouter()" [disabled]="!permissionajout" class="mt-3" color="primary" mat-raised-button>Ajouter
        un Agent
      </button>

      <mat-form-field style="float: right">
        <mat-label>Recherche</mat-label>
        <input (keyup)="applyFilter($event)" matInput placeholder="Recherche">
      </mat-form-field>

      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Numéro Agent Column -->
        <ng-container matColumnDef="numero">
          <th *matHeaderCellDef mat-header-cell mat-sort-header scope="col">Numéro Agent</th>
          <td *matCellDef="let data" mat-cell> {{data.numero}} </td>
        </ng-container>

        <!-- Nom Agent Column -->
        <ng-container matColumnDef="nom">
          <th *matHeaderCellDef mat-header-cell mat-sort-header scope="col">Nom Agent</th>
          <td *matCellDef="let data" mat-cell> {{data.nom}} </td>
        </ng-container>

        <!-- Département Column -->
        <ng-container matColumnDef="departement">
          <th *matHeaderCellDef mat-header-cell mat-sort-header scope="col">Département</th>
          <td *matCellDef="let data" mat-cell>{{data.departement}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th *matHeaderCellDef mat-header-cell scope="col">Action</th>
          <td *matCellDef="let data" mat-cell>
            <button (click)="info(data.numero)" color="primary" mat-raised-button>Info</button>
            <button (click)="modifier(data)" [disabled]="!permissionmodif" class="action" color="primary"
                    mat-raised-button>Modifier
            </button>
            <button (click)="afficherEquipements(data.numero)" class="action" color="primary" mat-raised-button>Afficher
              équipements affecté
            </button>
            <button (click)="afficherProblemes(data.numero)" class="action" color="primary" mat-raised-button>Afficher
              Problèmes soumis
            </button>
            <button (click)="openDialog(data)" [disabled]="!permissionsup" class="action" color="warn"
                    mat-raised-button>Supprimer
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
