<div class="flex-container">
  <mat-card class="flex-item mat-elevation-z2">
    <mat-card-title><h2>Tous vos message Lu</h2></mat-card-title>
    <mat-card-content>
      <button (click)="ajouter()" class="mt-3" color="primary" mat-raised-button>Envoyer un message</button>

      <mat-form-field style="float: right">
        <mat-label>Recherche</mat-label>
        <input (keyup)="applyFilter($event)" matInput placeholder="Recherche">
      </mat-form-field>
      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Expéditeur Column -->
        <ng-container matColumnDef="user">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Expéditeur</th>
          <td *matCellDef="let data" mat-cell><a
            href="/app/user/info/{{data.envoyeur.iduser}}">{{data.envoyeur.nom}}</a></td>
        </ng-container>

        <!-- Sujet Column -->
        <ng-container matColumnDef="sujet">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Sujet</th>
          <td *matCellDef="let data" class="col" mat-cell> {{data.sujet}} </td>
        </ng-container>


        <!-- Date de Soumission Column -->
        <ng-container matColumnDef="dateenvoie">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Date de Réception</th>
          <td *matCellDef="let data" mat-cell> {{data.dateenvoie | date:'dd/MM/y'}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th scope="col" *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let data" mat-cell>
            <button (click)="info(data)" color="primary" mat-raised-button>Ouvrir</button>
            <button (click)="openDialog(data)" class="action" color="warn" mat-raised-button>Supprimer</button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
