<div class="flex-container" xmlns="http://www.w3.org/1999/html">
  <mat-card class="flex-item mat-elevation-z8">
    <mat-card-title><h2>Information sur la Solution</h2></mat-card-title>
    <form *ngIf="myForm" [formGroup]="myForm">
      <mat-card-content>
        <div class="example-container mtb-2 text-center">

          <mat-form-field appearance="outline">
            <mat-label>Titre</mat-label>
            <input formControlName="titre" matInput placeholder="Titre de la Solution" readonly type="text">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Date de Soumission</mat-label>
            <input [matDatepicker]="datea" formControlName="datesoumission" matInput placeholder="Date de Soumission du Problème"
                   readonly type="text">
            <mat-datepicker-toggle [for]="datea" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datea disabled></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Détail de la Solution</mat-label>
            <textarea formControlName="solution" matInput placeholder="Détail de la Solution" readonly rows="6"
                      type="textarea"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Solution Soumise par:</mat-label>
            <input matInput readonly type="text" value="{{solution.user.nom}}">
          </mat-form-field>
          <br>
          <button (click)="afficher()" class="waves-light" mat-raised-button mdbWavesEffect type="button">Afficher les
            Solutions soumises par cet utilisateur
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
