.flex-container {
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
}

.flex-item {
  margin-top: 200px;
  background-color: transparent;
  height: auto;
  width: 100%;
  min-width: 200px;
  margin: 10px;
  line-height: 20px;
  margin: 15px;
  display: inline-block;
  border-radius: 0;
}

mat-card-title {
  text-align: center;
  font-size: x-large;
}

table {
  width: 100%;
  table-layout: auto;
}

.action {
  justify-content: center;
  margin-left: 5px;
}

th {
  font-weight: bold;
  font-size: medium;
}

table{
  width: 100%;
  table-layout: fixed;
}

.col
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
