<div *ngIf="utilisateur" class="flex-container">
  <mat-card class="flex-item mat-elevation-z2">
    <mat-card-title><h2>Liste de toutes les Solutions de l'Utilisateur <strong>{{utilisateur.nom}}</strong></h2></mat-card-title>
    <mat-card-content>

      <mat-form-field style="float: right">
        <mat-label>Recherche</mat-label>
        <input (keyup)="applyFilter($event)" matInput placeholder="Recherche">
      </mat-form-field>

      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Titre Column -->
        <ng-container matColumnDef="titre">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Titre</th>
          <td *matCellDef="let data" mat-cell> {{data.titre}} </td>
        </ng-container>

        <!-- Titre Problème Column -->
        <ng-container matColumnDef="probleme">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Titre Problème</th>
          <td *matCellDef="let data" mat-cell><a
            href="/app/problemes/info/ + {{data.probleme.idprob}}">{{data.probleme.titre}}</a></td>
        </ng-container>

        <!-- Date de Soumission Column -->
        <ng-container matColumnDef="datesoumission">
          <th scope="col" *matHeaderCellDef mat-header-cell mat-sort-header>Date de Soumission</th>
          <td *matCellDef="let data" mat-cell> {{data.datesoumission | date:'dd/MM/y'}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th scope="col" *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let data" mat-cell>
            <button (click)="info(data.idsol)" color="primary" mat-raised-button>Info</button>
            <button (click)="modifier(data)" class="action" color="primary" mat-raised-button>Modifier</button>
            <button (click)="openDialog(data)" class="action" color="warn" mat-raised-button>Supprimer</button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
